<footer id="page-footer" class="page-footer">
  <div class="container">
    <div class="row section padless-top padless-bottom footer-section">      
      <div class="links-column column">
        <h3 class="footer-title">{{ section.settings.footer_linklist_title }}</h3>
        <ul class="plain">
          {% for link in linklists[section.settings.footer_linklist].links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="links-column column">
        <h3 class="footer-title">{{ section.settings.footer_linklist2_title }}</h3>
        <ul class="plain">
          {% for link in linklists[section.settings.footer_linklist2].links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="links-column column">
        <h3 class="footer-title">{{ section.settings.footer_linklist3_title }}</h3>
        <ul class="plain">
          {% for link in linklists[section.settings.footer_linklist3].links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="social-column column">
        <h3 class="footer-title">{{ 'layout.footer.social_links_title' | t }}</h3>
        {% include 'social-links' %}
      </div>
      <div class="trust-column column">
        <div class="trust-logo">
          <img src="{{ section.settings.trust_logo1 | img_url: 'master' }}" alt="{{ section.settings.trust_logo1.alt | escape }}" />
        </div>
        <div class="trust-logo">
          <img src="{{ section.settings.trust_logo2 | img_url: 'master' }}" alt="{{ section.settings.trust_logo2.alt | escape }}" />
        </div>
        <div class="trust-logo">
          <img src="{{ section.settings.trust_logo3 | img_url: 'master' }}" alt="{{ section.settings.trust_logo3.alt | escape }}" />
        </div>
        <div class="trust-logo">
          <img src="{{ section.settings.trust_logo4 | img_url: 'master' }}" alt="{{ section.settings.trust_logo4.alt | escape }}" />
        </div>
      </div>
    </div>
    <div class="inline-row">
      <div class="footer-copyright">
        <div class="copy inline">{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.</div>
          <ul class="plain inline copyright-menu">
            {% for link in linklists[section.settings.small_linklist].links %}
              <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "text",
        "id": "footer_linklist_title",
        "label": "Primary footer menu title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
		    "default": "footer"
      },
      {
        "type": "text",
        "id": "footer_linklist2_title",
        "label": "Additional menu 1 title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist2",
        "label": "Additional menu 1"
      },
      {
        "type": "text",
        "id": "footer_linklist3_title",
        "label": "Additional menu 3 title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist3",
        "label": "Additional menu 2"
      },
      {
        "type": "header",
        "content": "Footer Logos"
      },
      {
        "type": "image_picker",
        "id": "trust_logo1",
        "label": "Logo 1",
        "info": "80 x 80px recommended"
      },
      {
        "type": "image_picker",
        "id": "trust_logo2",
        "label": "Logo 2",
        "info": "80 x 80px recommended"
      },
      {
        "type": "image_picker",
        "id": "trust_logo3",
        "label": "Logo 3",
        "info": "80 x 80px recommended"
      },
      {
        "type": "image_picker",
        "id": "trust_logo4",
        "label": "Logo 4",
        "info": "80 x 80px recommended"
      },
      {
        "type": "header",
        "content": "Small Menu"
      },
      {
        "type": "link_list",
        "id": "small_linklist",
        "label": "Menu next to copyright text"
      }
    ]
  }
{% endschema %}
