{% if template == 'password' or template == 'gift_card' %}

{% comment %} Password/gift card template logo {% endcomment %}
<h1 class="logo">
  {% if section.settings.logo != blank %}
  {% capture img_size %}{{ section.settings.logo_width | times: 2 }}x{% endcapture %}
  <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" />
  {% else %}
  {{ shop.name }}
  {% endif %}
</h1>

{% else %}

<div class="page-header" data-section-type="header">
  <div id="toolbar" class="toolbar">
    <span class="mobile-toolbar">
      <a class="toggle-mob-nav" href="#">{% include 'svg-nav' %}</a>
    </span>

    {% unless section.settings.header_layout == 'mobile' %}
    {% endunless %}
    {% capture logo_html %}
    <div class="logo">
      {% if section.settings.logo != blank %}
      {{ section.settings.logo | img_url: 'master' | img_tag: section.settings.logo.alt | link_to: shop.url }}
      {% else %}
      {{ shop.name | link_to: shop.url }}
      {% endif %}
    </div>
    {% endcapture %}
    {% unless section.settings.header_layout == 'nav' %}<div class="cf">{{ logo_html }}</div>{% endunless %}
    <div class="navigation">
      {% unless section.settings.header_layout == 'mobile' %}
      {% include 'main-navigation' %}
      {% endunless %}
      <span class="toolbar-cart">
        <a class="current-cart {% if template != 'cart' %}toggle-cart-summary{% endif %}" href="/cart">
          {% if cart.item_count > 0 %} 
          <span class="beside-svg">{{ cart.item_count }}</span>
          {% endif %}
          {% if section.settings.cart_icon != blank %}
          {{ section.settings.cart_icon | img_url: 'master' | img_tag: section.settings.cart_icon.alt | link_to: cart }}
          {% endif %}
        </a>
      </span>
      <span class="toolbar-links">
        {% if shop.customer_accounts_enabled %}
        {% if customer  %}
        <a href="/account">{{ 'layout.customer.your_account' | t }}</a>
        <span class="divider">/</span> {{ 'layout.customer.logout' | t | customer_logout_link }}
        {% else %}
        {{ 'layout.customer.login' | t | customer_login_link }}
        {% if shop.customer_accounts_optional %}
        <span class="divider">/</span> {{ 'layout.customer.create_account' | t | customer_register_link }}
        {% endif %}
        {% endif %}
        {% endif %}
      </span>
    </div>
  </div>
  
  <script id="mobile-navigation-template" type="text/template">
  {% include 'mobile-navigation' %}
  </script>
</div>

{% endif %}

{% if section.settings.logo != blank %}
<style type="text/css">
  .logo img {
    width: {{ section.settings.logo_width }}px;
  }
</style>
{% endif %}


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
		"default": "main-menu"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Image",
        "info": "300 x 100px recommended"
      },
      {
        "type": "text",
        "id": "logo_width",
        "label": "Logo width (in pixels)",
        "default": "300"
      },
      {
        "type": "header",
        "content": "Cart Icon"
      },
      {
        "type": "image_picker",
        "id": "cart_icon",
        "label": "Icon",
        "info": "40 x 40px recommended"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "select",
        "id": "nav_col_limit",
        "label": "Maximum number of links per column",
        "info": "Does not apply to full-width dropdown",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          }
        ],
        "default": "8"
      },
      {
        "type": "checkbox",
        "id": "nav_show_images",
        "label": "Show collection images in dropdown navigation",
        "info": "Works only on desktop."
      },
      {
        "type": "header",
        "content": "Full width dropdown"
      },
      {
        "type": "text",
        "id": "nav_uber_name",
        "label": "Name of menu link to show under",
		"info": "This is case-sensitive"
      },
      {
        "type": "text",
        "id": "nav_uber_list_1_title",
        "label": "Column 1 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_1",
        "label": "Column 1 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_2_title",
        "label": "Column 2 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_2",
        "label": "Column 2 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_3_title",
        "label": "Column 3 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_3",
        "label": "Column 3 menu"
      },
      {
        "type": "text",
        "id": "nav_uber_list_4_title",
        "label": "Column 4 heading"
      },
      {
        "type": "link_list",
        "id": "nav_uber_list_4",
        "label": "Column 4 menu"
      }
	]
  }
{% endschema %}
